In [1]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('Dataset.csv')

In [4]:
movies.head

<bound method NDFrame.head of       S no         ID Original_Language  \
0        1   580489.0                en
1        2   524434.0                en
2        3   438631.0                en
3        4   796499.0                en
4        5   550988.0                en
...    ...        ...               ...
7898  7899  1083862.0               jap
7899  7900   347201.0               jap
7900  7901   503314.0               jap
7901  7902   572154.0               jap
7902  7903   829557.0            polish

                                original_title Release_Date  IMDB Ratings   \
0                  venom: let there be carnage   30-09-2021            6.8
1                                     eternals   03-11-2021            7.1
2                                         dune   15-09-2021            8.0
3                              army of thieves   27-10-2021            6.9
4                                     free guy   11-08-2021            7.8
...                                        ...          ...            ...
7898               resident evil: death island   07-07-2023            5.7
7899                  boruto: naruto the movie   07-08-2015            7.8
7900                  dragon ball super: broly   29-03-2019            7.7
7901  rascal does not dream of a dreaming girl   15-06-2019            8.3
7902                        365 days: this day   24-07-2022            2.6

     Vote_Count                                              Genre  \
0          1736         ['Science Fiction', 'Action', 'Adventure']
1           622  ['Action', 'Adventure', 'Science Fiction', 'Fa...
2          3632         ['Action', 'Adventure', 'Science Fiction']
3           555                    ['Action', 'Crime', 'Thriller']
4          3493  ['Comedy', 'Action', 'Adventure', 'Science Fic...
...         ...                                                ...
7898         77                  ['animation', 'action', 'horror']
7899       1113     ['comedy', 'action', 'animation', 'adventure']
7900       1009                  ['action', 'sci-fi', 'animation']
7901       1643  ['comedy', 'drama', 'animation', 'romance', 'f...
7902       1613                   ['Erotic', 'Thriller', 'Action']

                                               Overview    Revenue(in $)  \
0     After finding a host body in investigative rep...  $424,000,000.00
1     The Eternals are a team of ancient aliens who ...  $165,000,000.00
2     Paul Atreides, a brilliant and gifted young ma...  $331,000,000.00
3     A mysterious woman recruits bank teller Ludwig...            $0.00
4     A bank teller called Guy realizes he is a back...  $331,000,000.00
...                                                 ...              ...
7898  In San Francisco, Jill Valentine is dealing wi...       $25,600.00
7899  The spirited Boruto Uzumaki, son of Seventh Ho...   $17,014,551.00
7900  Earth is peaceful following the Tournament of ...  $122,740,616.00
7901  In Fujisawa, Sakuta Azusagawa is in his second...    $3,063,945.00
7902  Laura and Massimo attempt to piece their lives...            $0.00

      Runtime(in min)                                            Tagline
0                  97                            You are what you eat.\r
1                 157                                In the beginning...
2                 155                       Beyond fear, destiny awaits.
3                 127       Before Vegas, one locksmith became a legend.
4                 115     Life's too short to be a background character.
...               ...                                                ...
7898               91       Destinies intertwined. A world gone mad.\r\n
7899               95                           Forge your own path.\r\n
7900               99  A new adventure to become the strongest begins.\r
7901               90                                                NaN
7902              109  A dark secret is the foundation of any success...

[7903 rows x 12 columns]>

In [5]:
movies.shape

(7903, 12)

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7903 entries, 0 to 7902
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S no               7903 non-null   int64
 1   ID                 7901 non-null   float64
 2   Original_Language  7903 non-null   object
 3   original_title     7903 non-null   object
 4   Release_Date       7903 non-null   object
 5   IMDB Ratings       7903 non-null   float64
 6   Vote_Count         7902 non-null   object
 7   Genre              7903 non-null   object
 8   Overview           7903 non-null   object
 9   Revenue(in $)      7902 non-null   object
 10  Runtime(in min)    7903 non-null   int64
 11  Tagline            6612 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 741.0+ KB

In [7]:
movies.describe()

              S no            ID  IMDB Ratings   Runtime(in min)
count  7903.000000  7.901000e+03    7903.000000      7903.000000
mean   3952.000000  2.170532e+05       6.352853       106.215488
std    2281.543922  2.454592e+05       1.091909        21.728310
min       1.000000  5.000000e+00       0.000000        45.000000
25%    1976.500000  1.087800e+04       5.800000        91.000000
50%    3952.000000  7.567400e+04       6.400000       102.000000
75%    5927.500000  4.095020e+05       7.000000       117.000000
max    7903.000000  1.142127e+06       9.000000       400.000000

In [8]:
movies.isnull().sum()

S no                    0
ID                      2
Original_Language       0
original_title          0
Release_Date            0
IMDB Ratings            0
Vote_Count              1
Genre                   0
Overview                0
Revenue(in $)           1
Runtime(in min)         0
Tagline              1291
dtype: int64

In [9]:
movies.dropna(subset=['ID'],inplace=True)

In [10]:
movies.isnull().sum()

S no                    0
ID                      0
Original_Language       0
original_title          0
Release_Date            0
IMDB Ratings            0
Vote_Count              1
Genre                   0
Overview                0
Revenue(in $)           0
Runtime(in min)         0
Tagline              1291
dtype: int64

In [29]:
movies=movies[['ID','original_title','Genre','Overview']]

In [30]:
movies.head()

,ID,original_title,Genre,Overview
0,580489.0,venom: let there be carnage,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...
1,524434.0,eternals,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...
2,438631.0,dune,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma..."
3,796499.0,army of thieves,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...
4,550988.0,free guy,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...

In [31]:
movies.duplicated().sum()

0

In [32]:
movies.drop_duplicates(inplace=True)

C:\Users\Shruti Pathak\AppData\Local\Temp\ipykernel_10244\1441796974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.drop_duplicates(inplace=True)

In [33]:
movies.duplicated().sum()

0

In [35]:
movies['tags'] =movies['Overview']+movies['Genre']

C:\Users\Shruti Pathak\AppData\Local\Temp\ipykernel_10244\3225771620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] =movies['Overview']+movies['Genre']

In [36]:
movies.head

<bound method NDFrame.head of              ID                            original_title  \
0      580489.0               venom: let there be carnage
1      524434.0                                  eternals
2      438631.0                                      dune
3      796499.0                           army of thieves
4      550988.0                                  free guy
...         ...                                       ...
7898  1083862.0               resident evil: death island
7899   347201.0                  boruto: naruto the movie
7900   503314.0                  dragon ball super: broly
7901   572154.0  rascal does not dream of a dreaming girl
7902   829557.0                        365 days: this day

                                                  Genre  \
0            ['Science Fiction', 'Action', 'Adventure']
1     ['Action', 'Adventure', 'Science Fiction', 'Fa...
2            ['Action', 'Adventure', 'Science Fiction']
3                       ['Action', 'Crime', 'Thriller']
4     ['Comedy', 'Action', 'Adventure', 'Science Fic...
...                                                 ...
7898                  ['animation', 'action', 'horror']
7899     ['comedy', 'action', 'animation', 'adventure']
7900                  ['action', 'sci-fi', 'animation']
7901  ['comedy', 'drama', 'animation', 'romance', 'f...
7902                   ['Erotic', 'Thriller', 'Action']

                                               Overview  \
0     After finding a host body in investigative rep...
1     The Eternals are a team of ancient aliens who ...
2     Paul Atreides, a brilliant and gifted young ma...
3     A mysterious woman recruits bank teller Ludwig...
4     A bank teller called Guy realizes he is a back...
...                                                 ...
7898  In San Francisco, Jill Valentine is dealing wi...
7899  The spirited Boruto Uzumaki, son of Seventh Ho...
7900  Earth is peaceful following the Tournament of ...
7901  In Fujisawa, Sakuta Azusagawa is in his second...
7902  Laura and Massimo attempt to piece their lives...

                                                   tags
0     After finding a host body in investigative rep...
1     The Eternals are a team of ancient aliens who ...
2     Paul Atreides, a brilliant and gifted young ma...
3     A mysterious woman recruits bank teller Ludwig...
4     A bank teller called Guy realizes he is a back...
...                                                 ...
7898  In San Francisco, Jill Valentine is dealing wi...
7899  The spirited Boruto Uzumaki, son of Seventh Ho...
7900  Earth is peaceful following the Tournament of ...
7901  In Fujisawa, Sakuta Azusagawa is in his second...
7902  Laura and Massimo attempt to piece their lives...

[7900 rows x 5 columns]>

In [37]:
movies.describe()

                 ID
count  7.900000e+03
mean   2.170274e+05
std    2.454640e+05
min    5.000000e+00
25%    1.087775e+04
50%    7.566500e+04
75%    4.093482e+05
max    1.142127e+06

In [38]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7900 entries, 0 to 7902
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              7900 non-null   float64
 1   original_title  7900 non-null   object
 2   Genre           7900 non-null   object
 3   Overview        7900 non-null   object
 4   tags            7900 non-null   object
dtypes: float64(1), object(4)
memory usage: 370.3+ KB

In [39]:
new_data  = movies.drop(columns=['Overview', 'Genre',])
new_data

,ID,original_title,tags
0,580489.0,venom: let there be carnage,After finding a host body in investigative rep...
1,524434.0,eternals,The Eternals are a team of ancient aliens who ...
2,438631.0,dune,"Paul Atreides, a brilliant and gifted young ma..."
3,796499.0,army of thieves,A mysterious woman recruits bank teller Ludwig...
4,550988.0,free guy,A bank teller called Guy realizes he is a back...
...,...,...,...
7898,1083862.0,resident evil: death island,"In San Francisco, Jill Valentine is dealing wi..."
7899,347201.0,boruto: naruto the movie,"The spirited Boruto Uzumaki, son of Seventh Ho..."
7900,503314.0,dragon ball super: broly,Earth is peaceful following the Tournament of ...
7901,572154.0,rascal does not dream of a dreaming girl,"In Fujisawa, Sakuta Azusagawa is in his second..."
7902,829557.0,365 days: this day,Laura and Massimo attempt to piece their lives...

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
cv=CountVectorizer(max_features=10000, stop_words='english')
cv

CountVectorizer(max_features=10000, stop_words='english')

In [42]:
CountVectorizer(max_features=10000, stop_words='english')
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()
vector.shape

(7900, 10000)

In [52]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity[0].shape

(7900,)

In [54]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(6, 0.3919309008348103),
 (97, 0.3038948705590346),
 (750, 0.3003757045930553),
 (1517, 0.3003757045930553),
 (1450, 0.2995723447576391)]

In [65]:
new_data.head(2)

,ID,original_title,tags
0,580489.0,venom: let there be carnage,After finding a host body in investigative rep...
1,524434.0,eternals,The Eternals are a team of ancient aliens who ...

In [75]:
def recommend(movie):
    movie_index = new_data[new_data['original_title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_data.iloc[i[0]].original_title)

In [76]:
recommend('avatar')

small soldiers
predator
journey 2: the mysterious island
iron man 3
emmanuelle in space 4: concealed fantasy

In [77]:
recommend('free guy')

iron man 3
pixels
ready player one
small soldiers
zoom